@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');



.menu {
    background-color: #D9D9D9;
    color: #fff;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 100%;
    margin: 0 auto;
  }
  

.menu a{
    text-decoration: none;
    color: #022859;
    font-family: "Poiret One", sans-serif;
    font-size: large;
    font-weight: bolder;
    padding-inline: 15px;
    position: relative;
    font-size: 21px;
    
}

.menu a::after{
    content: " ";
    width: 0;
    height: 3px;
    background-color: #022859;
    position: absolute;
    top: 25px;
    left: 13px;
    transition: linear 0.5s;
}

.menu a:hover::after{
    width: 70px;
}



.logo {
    display: flex;
    flex-wrap: nowrap;
    width: 200px;
    height: 100px;
    width: 15%;
    text-align: center;
}

#divBusca{
    display: flex;
    width: 400px;
    align-items: center;
    margin-left: 5%;
    color: black;
}

#txtBusca{
    background-color: white;
    border: solid 1px silver;
    border-radius: 10px;
    padding-left: 5px;
    font-style: italic;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 360px;
}

.logo img{
    position: relative;
    animation: flutuar 1.2s ease-in-out infinite alternate;
  }
  @keyframes flutuar{
    0%{
        top: 1%;
    }
    100%{
        top: 5%;
    }
  }